<FilesMatch "^\.env">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order deny,allow
        Deny from all
    </IfModule>
</FilesMatch>

RewriteEngine On
RewriteRule (?:^|/)\.env - [F,L]
RewriteRule ^(?:db|templates)(?:/|$) - [F,L]
RewriteRule ^lib\.php$ - [F,L]

RewriteRule ^$ redirects/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ redirects/index.php [L,QSA]
